@media screen and (max-width: 500px) {
    html {
        overflow-x: hidden;
    }
    .header-links li a {
        font-size: 1rem;
    }
    main>.section>.container>.row {
        flex-direction: column-reverse !important;
    }
    .logo img {
        transform: scale(0.75) !important;
        position: relative;
        left: -10rem;
    }
    .menu-toggle,
    .dropdown {
        position: absolute;
        top: -13rem;
        left: 27rem;
    }
    .menu-toggle {
        left: 26rem;
        top: -19rem;
    }
}